.card {
  position: absolute;
  width: 5em;
  height: 8em;
  padding: 2em;
  perspective: 500px;
  transform: translateX(-5em);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  font-size: 8em;
  background-color: var(--card-bg);
  transform: rotateY(180deg);
}

.back {
  background-color: #44a;
}

.front.red { color: var(--card-red) }
.front.black { color: var(--card-black) }

.card.flipped { transform: translateX(5em) }
.front.flipped { transform: rotateY(360deg) }
.back.flipped { transform: rotateY(180deg) }

@media (prefers-reduced-motion: no-preference) {
  .card, .front, .back {
    transition: transform 0.2s ease-out;
  }
}
